{
    "openapi": "3.0.0",
    "info": {
        "title": "Moe Ask Api",
        "description": "MoeAsk的api文档",
        "version": "1.0.0",
        "termsOfService": "https://moeask.com/terms/",
        "contact": {
            "email": "support@moeask.com"
        },
        "license": {
            "name": "AGPL 3.0",
            "url": "https://www.gnu.org/licenses/agpl-3.0.html"
        }
    },

    "servers": [
        {
            "url": "https://api.moeask.com/{version}",
            "description": "主要api服务器",
            "variables": {
                "version": {
                    "enum": [
                        "v1"
                    ],
                    "default": "v1"
                }
            }
        }
    ],

    "tags": [
        {
            "name": "user",
            "description": "用户相关操作"
        }
    ],

    "paths": {
        "/user": {
            "$ref": "routes/user.json"
        },
        
        "/user/{user_id}": {
            "$ref": "routes/user.user_id.json"
        },

        "/user/login": {
            "$ref": "routes/user.login.json"
        }
    },

    "components": {
        "schemas": {
            "Error": {
                "$ref": "models/errro.json"
            },
            "User": {
                "$ref": "models/user.json#/components/schemas/User"
            }
        },
        "securitySchemes": {
            "TokenAuth": {
                "type": "apiKey",
                "name": "Auth-Token",
                "in": "header",
                "description": "用于验证用户身份的token。通过登录获得。"
            },
            "OAuth": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "/oauth/dialog",
                        "tokenUrl": "/oauth/token",
                        "scopes": {
                            "read:user": "获取用户信息"
                        }
                    }
                }
            }
        }
    }
}
