{
    "swagger": "2.0",
    "info": {
        "title": "Moe Ask Api",
        "description": "MoeAsk的api文档",
        "version": "1.0.0",
        "termsOfService": "https://moeask.com/terms/",
        "contact": {
            "email": "support@moeask.com"
        },
        "license": {
            "name": "AGPL 3.0",
            "url": "https://www.gnu.org/licenses/agpl-3.0.html"
        }
    },
    "host": "api.moeask.com",
    "basePath": "/v1",
    "schemes": [
        "https"
    ],
    "paths": {
        "/user": {
            "get": {
                "summary": "获取用户信息",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "TokenAuth": []
                    },
                    {
                        "OAuth": [
                            "read:user"
                        ]
                    }
                ]
            }
        },

		"/user/login": {
			"post": {
				"responses": {
					"200": {
						"description": "",
						"schema": {}
					}
				}
			}
		}
    },
    "securityDefinitions": {
        "TokenAuth": {
            "type": "apiKey",
            "name": "Identity-Token",
            "in": "header",
            "description": "用于验证用户身份的token。通过登录获得。"
        },
        "OAuth": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "/oauth/authorize",
            "tokenUrl": "/oauth/token",
            "scopes": {
                "read:user": "读取用户信息"
            }
        }
    }
}
